body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #222;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: rgb(23, 23, 23);
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    justify-self: center;
    align-self: center;
    margin-left: 25px;
}

.header a {
    justify-self: center;
    align-self: center;
    margin-right: 25px;
}

button {
    background-color: rgb(48, 120, 201);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    border: none;
}

button:hover {
    background-color: rgb(96, 146, 203);
    transition: 0.25s;
}

td button {
    width: auto;
    height: 30px;
    border-radius: 10px;
}
.container {
    display: grid;
    margin: 50px;
    text-align: center;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    place-items: center;
    gap: 20px;
}

.library {
    height: 300px;
    width: 600px;
    background-color: rgb(54, 54, 54);
}

caption {
  padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form button {
    width: 100px;
    height: 40px;
}

label {
    align-self: flex-start;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }

  .card {
    width: 200px;
    height: 250px;
    background-color: rgb(84, 84, 84);
    display: grid;
    border: 1px solid rgb(226, 115, 115);
  }

  .card div {
    align-self: center;
  }